.information {
  max-height: 340px; /* Ustaw maksymalną wysokość */
  overflow-y: auto;

  .header {
    display: flex;
    flex-direction: column;
    
    span {
      font-weight: bold;
      font-size: 17px;
      text-align: center;
    }
  }

  .airport {
    margin: 5px;
    padding: 5px;
    background-color: rgba(134, 134, 134, 0.3);
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    gap: 10px;
    
  }

  .weather {
    margin: 5px;
    padding: 5px;
    background-image: url('https://media.discordapp.net/attachments/1045000837241524264/1150260938839171173/2.png');
    background-position-y: 0;
    background-position-x: 95%;
    background-size: 150px;
    background-repeat: no-repeat;
    background-color: rgba(134, 134, 134, 0.3);
    border-radius: 5px;
    font-size: 15px;
    text-align: center;

    .weather__upper {
      margin-bottom: 10px;
    }

    .weather__lower {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px;

      .element {
        flex-basis: calc(33.33% - 10px);
        box-sizing: border-box;
      }
    }
  }
  
  .runways {
    background-image: url('https://media.discordapp.net/attachments/1045000837241524264/1150260939069853806/1.png');
    background-position-y: 0;
    background-position-x: 95%;
    background-size: 150px;
    background-repeat: no-repeat;
    margin: 5px;
    padding: 5px;
    margin-bottom: 0;
    background-color: rgba(134, 134, 134, 0.3);
    border-radius: 5px;
    font-size: 15px;
    white-space: pre-wrap;

    .runway {
      padding: 5px;
      
      p {
        margin: 0;
      }

      span {
        display: flex;
      }

      &__status {
        margin-left: 10px;

        img {
          width: 90px;
        }
      }
    }
  }
}