:root {
  --first: #023E8A;
  --second: #0077B6;
  --third: #0096C7;
  --fourth: #00B4D8;
}

.App {
  display: flex;
  justify-content: center;
  user-select: none;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 650px;
    min-width: 385px;
    max-width: 385px;

    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      height: fit-content;
      width: 95%;
      background-color: var(--first);
      margin: 5px;
      padding: 2px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 5px;

      h1 {
        margin: 0;
        padding: 0;
        font-size: 17px;
        text-align: center;
      }
    }

    .tabs {
      position: relative;
      display: flex;
      height: 25px;
      width: 95%;
      padding: 2px;
      padding-bottom: 10px;

      .tab {
        width: fit-content;
        height: 100%;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 4px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        background-color: var(--second);
        transition: background-color 0.3s ease;
        opacity: 0.8;

        &:first-child {
          margin-left: -2px;
        }

        &.active {
          background-color: var(--first);
          opacity: 1;
        }

        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
    }
  }
}

